@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
* {
  font-family: Inter;
  color: #050510;
}

body {
  background-color: #E5E5E5;
}

::-webkit-scrollbar {
  width: 0px;
}

.app {
  max-width: 1278px;
  height: 720px;
  margin: 100px auto 0 auto;
  background-color: #fff;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.container {
  padding: 0px 15px;
}

.app-navigation {
  margin-bottom: 16px;
}
.app-navigation h2 {
  margin: 0px 0px 16px 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.app-navigation p {
  margin: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.app-navigation__heading_error {
  color: #FFF;
}

.app-navigation__head {
  padding-top: 18px;
  padding-bottom: 20px;
}

.app-navigation__head_error {
  background-color: #F44336;
  padding-bottom: 36px;
}

.app-navigation__head_loading {
  background-color: #6534FF;
}

.app-searchbar {
  display: flex;
  padding: 8px 12px;
  background-color: #F7F7F8;
  border-radius: 16px;
}

.app-searchbar__input {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.app-searchbar__input-icon {
  display: block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.app-searchbar__input-main {
  width: 100%;
  height: 20px;
  margin-left: 8px;
  background-color: transparent;
}
.app-searchbar__input-main::-moz-placeholder {
  color: #C3C3C6;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}
.app-searchbar__input-main:-ms-input-placeholder {
  color: #C3C3C6;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}
.app-searchbar__input-main::placeholder {
  color: #C3C3C6;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.app-list {
  overflow-y: scroll;
  height: 520px;
}

.app-list__item {
  margin-bottom: 4px;
}

.app-list__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0px;
}

.app-list__content {
  display: flex;
  align-items: center;
}
.app-list__content img {
  width: 72px;
  height: 72px;
  margin-right: 16px;
  border-radius: 50%;
}

.app-list__content-user strong {
  margin-right: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.app-list__content-user span {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #97979B;
}

.app-list__user-department {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #55555C;
}

.app-navigation__list {
  display: flex;
  align-items: center;
  overflow-y: scroll;
}
.app-navigation__list li {
  flex-shrink: 0;
}
.app-navigation__list .active {
  font-weight: 600;
  color: #050510;
  position: relative;
}
.app-navigation__list .active::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #6534FF;
  bottom: 0;
  left: 0;
}
.app-navigation__list button {
  padding: 4px 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #97979B;
  background-color: transparent;
  transition: color 0.4s ease;
}
.app-navigation__list button:hover {
  color: #050510;
}

.app-list__birthday {
  display: none;
}

.app-list__birthday_active {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #55555C;
}

.app-list__birth-next {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0px;
  padding: 24px 0px;
}

.app-list__birth-prev {
  display: none;
}

.app-list__birth-line {
  width: 100%;
  max-width: 508px;
  height: 1px;
  background-color: #C3C3C6;
}

.app-list__birth-year {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #C3C3C6;
}

.user-page__header {
  background-color: #F7F7F8;
}

.user-page__header-container {
  padding: 26px 27px 24px 31px;
}

.user-page__header-link {
  margin-bottom: 33px;
}

.user-page__back {
  display: block;
  width: 15px;
  height: 11px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-profile img {
  width: 104px;
  height: 104px;
  border-radius: 50%;
}

.user-profile__name {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.user-profile__name h3 {
  margin-right: 4px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #050510;
}
.user-profile__name span {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #97979B;
}

.user-profile-job {
  margin-top: 12px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #55555C;
}

.user-loading {
  position: absolute;
  transform: translate(50%, 50%);
  right: 50%;
  bottom: 50%;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
}

.user-page__list {
  padding: 25px 4px 25px 0px;
}
.user-page__list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-page__list li:not(:last-child) {
  margin-bottom: 43px;
}

.user-page__list-info {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.user-page__list-info span {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-size: contain;
}
.user-page__list-info a {
  transition: opacity 0.4s ease;
}
.user-page__list-info a:hover {
  opacity: 0.7;
}

.user-profile__job {
  margin-top: 13px;
  font-size: 13px;
  line-height: 16px;
  color: #55555C;
}

.user-page__list-age {
  color: #97979B;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 500px) {
  .app-navigation__list .active {
    font-weight: 500;
  }
  .app-navigation__list button {
    padding: 4px 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
}
@media (max-width: 341px) {
  .app {
    max-width: 1278px;
    height: 211.14vw;
    margin: 100px auto 0 auto;
    background-color: #fff;
    overflow: hidden;
    border-radius: 5.87vw;
    position: relative;
  }
  .container {
    padding: 0 4.4vw;
  }
  .app-navigation {
    margin-bottom: 4.69vw;
  }
  .app-navigation h2 {
    margin: 0px 0px 4.69vw 2.35vw;
    font-size: 7.04vw;
    line-height: 8.21vw;
  }
  .app-navigation__head {
    padding-top: 5.28vw;
    padding-bottom: 5.87vw;
  }
  .app-searchbar {
    padding: 2.35vw 12px;
    border-radius: 4.69vw;
  }
  .app-searchbar__input {
    font-size: 4.4vw;
    line-height: 5.87vw;
  }
  .app-searchbar__input-icon {
    width: 7.04vw;
    height: 7.04vw;
  }
  .app-searchbar__input-main {
    height: 5.87vw;
    margin-left: 2.35vw;
    font-size: 4.4vw;
  }
  .app-searchbar__input-main::-moz-placeholder {
    font-size: 4.4vw;
    line-height: 5.87vw;
  }
  .app-searchbar__input-main:-ms-input-placeholder {
    font-size: 4.4vw;
    line-height: 5.87vw;
  }
  .app-searchbar__input-main::placeholder {
    font-size: 4.4vw;
    line-height: 5.87vw;
  }
  .app-list {
    height: 152.49vw;
  }
  .app-list__item {
    margin-bottom: 1.17vw;
  }
  .app-list__link {
    padding: 1.76vw 0px;
  }
  .app-list__content img {
    width: 21.11vw;
    height: 21.11vw;
    margin-right: 4.69vw;
  }
  .app-list__content-user strong {
    margin-right: 1.17vw;
    font-size: 4.69vw;
    line-height: 5.87vw;
  }
  .app-list__content-user span {
    font-size: 4.11vw;
    line-height: 5.28vw;
  }
  .app-list__user-department {
    font-size: 3.81vw;
    line-height: 4.69vw;
  }
  .app-navigation__list .active::after {
    height: 0.59vw;
  }
  .app-navigation__list button {
    padding: 1.17vw 3.52vw;
    font-size: 4.4vw;
    line-height: 5.87vw;
  }
  .app-list__birthday_active {
    font-size: 4.4vw;
    line-height: 5.87vw;
  }
  .app-list__birth-next {
    margin: 1.17vw 0px;
    padding: 7.04vw 0px;
  }
  .app-list__birth-line {
    max-width: 148.97vw;
    height: 0.29vw;
  }
  .app-list__birth-year {
    font-size: 4.4vw;
    line-height: 5.87vw;
  }
  .user-page__header-container {
    padding: 7.62vw 7.92vw 7.04vw 9.09vw;
  }
  .user-page__header-link {
    margin-bottom: 9.68vw;
  }
  .user-page__back {
    width: 4.4vw;
    height: 3.23vw;
    background-size: contain;
  }
  .user-profile img {
    width: 30.5vw;
    height: 30.5vw;
  }
  .user-profile__name {
    margin-top: 7.04vw;
  }
  .user-profile__name h3 {
    margin-right: 1.17vw;
    font-size: 7.04vw;
    line-height: 8.21vw;
  }
  .user-profile__name span {
    font-size: 4.99vw;
    line-height: 6.45vw;
  }
  .user-profile-job {
    margin-top: 3.52vw;
    font-size: 3.81vw;
    line-height: 4.69vw;
  }
  .user-loading {
    font-size: 4.99vw;
    line-height: 6.45vw;
  }
  .user-page__list {
    padding: 7.33vw 1.17vw 7.33vw 0px;
  }
  .user-page__list li:not(:last-child) {
    margin-bottom: 12.61vw;
  }
  .user-profile__job {
    margin-top: 3.81vw;
    font-size: 3.81vw;
    line-height: 4.69vw;
  }
  .user-page__list-info {
    font-size: 4.69vw;
    line-height: 5.87vw;
  }
  .user-page__list-info span {
    width: 7.04vw;
    height: 7.04vw;
    margin-right: 4.11vw;
  }
  .user-page__list-age {
    font-size: 4.69vw;
    line-height: 5.87vw;
  }
}/*# sourceMappingURL=style.css.map */