.errorMessageActive {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 133px;
    padding-bottom: 133px;
}

.errorMessageImg {
    display: block;
    width: 56px;
    height: 56px;
    background-size: contain;
    background-repeat: no-repeat;
}

.errorMessageHeading {
    margin-top: 8px;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: #050510;
}

.errorMessageDescription {
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #97979B;
}

@media (max-width: 341px) {

    .errorMessageActive {
        padding-top: 39.00vw;
        padding-bottom: 39.00vw;
    }
    
    .errorMessageImg {
        width: 16.42vw;
        height: 16.42vw;
    }
    
    .errorMessageHeading {
        margin-top: 2.35vw;
        font-size: 4.99vw;
        line-height: 6.45vw;
    }
    
    .errorMessageDescription {
        margin-top: 3.52vw;
        font-size: 4.69vw;
        line-height: 5.87vw;
    }
}